{% extends 'base.html' %}

{% block content %}

<!--<div class="row justify-content-center">-->
<!--    <div class="col-lg-8 col-md-10 col-sm-12">-->
<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <p class="lead">Username: {{ request.user.username }}</p>-->
<!--                <hr class="my-4">-->
<!--                <p class="lead">Email: {{ user.email }}</p>-->
<!--                <hr class="my-4">-->
<!--                <a class="btn btn-primary btn-lg" href="{% url 'users:update' %}" role="button">Update</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">

   <h1 class="text-center logo my-4">
      {{ request.user.username }}'s Info
   </h1>


    <div class="card mb-2" style="margin-left:5%; margin-right:10%;">
        <div class="card-body p-3" >
            <div class="row">

                <div class="col-3" style="">

                    <img src="{{ request.user.userimage.image.url }}" alt="connect" style="max-height:220px; max-width:220px;">
                </div>

                <div class="col-7">
                        <p class="lead">Username: {{ request.user.username }}</p>
                    <hr class="my-4">
                        <p class="lead">Email: {{ user.email }}</p>
                    <hr class="my-4">
                    <a class="btn btn-primary btn-lg" href="{% url 'users:update' %}" role="button">Update</a>
                    <a class="infobutton btn btn-secondary btn-lg" href="{% url 'users:update_image' %}" role="button">Update photo</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}