{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1 class="text-center logo my-4">
    {{request.user}}'s Library
</h1>

<div class="card-body p-3">
    <div class="tab" >
      <button class="tablinks" onclick="openCategory(event, 'To do')">To do</button>
      <button class="tablinks" onclick="openCategory(event, 'In progress')" id="defaultOpen">In progress</button>
      <button class="tablinks" onclick="openCategory(event, 'Done')">Done</button>
    </div>
</div>


<!--TO DO TAB DIV-->
<div id="To do" class="tabcontent">

{% if books|length == 0 %}
<div class="container">
     <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="POST">
                <p class="lead">Your library is empty :(</p>
                <p class="lead">You can find some books by clicking on "Find books" button in menu or by clicking button
                right there!</p>
                <hr class="my-4">

            <a class="btn btn-primary" href="{% url 'books:find' %}" role="button">Find books</a> <a href='../'>Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% else %}
{% for book_position in users_book_positions %}
    {% for book in books %}
        {% ifequal book.title|stringformat:"s" book_position.book|stringformat:"s" %}
            {% ifequal book_position.status|stringformat:"s" "To do" %}
            <div class="card mb-2" style="margin-left:10%; margin-right:10%;" id="div{{ book.id }}">
                <div class="card-body p-3">
                    <div class="row">

                        <div class="col-2">
                            <img src="{{ book.image }}" class="center">
                        </div>

                         <div class="col-10">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <p><strong class="text-dark">{{ book.title }}</strong></p>
                                        <small class="text-muted">{{ book.author }}</small>
                                        <br>
                                    </div>
                                    <div class="col-6" style="text-align:right;">
                                        <small class="text-muted">ID: {{ book.id }}</small>
                                    </div>
                                </div>

                            <hr class="my-4">
                            {% if book.description == None %}
                            There is no description :(
                            {% else %}
                            {{ book.description }}
                            {% endif %}
                            <p>
                            <br>

                             <form method="post" action="{% url 'users:info_book' %}">
                                {%csrf_token%}
                                <div type="text/css" class = "container"></div>
                                <a class="addbutton btn btn-danger btn-lg" id="like{{ book.id }}" href="#" data-catid="{{ book.id }}">Delete</a>
                                <input type="hidden"  name="id" value="{{ book.id }}">
                                <button class="infobutton btn btn-secondary btn-lg" type="submit">Update</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        {% endifequal %}
        {% endifequal %}
    {% endfor %}
{% endfor %}
{% endif %}
</div>


<!--IN PROGRESS TAB DIV-->
<div id="In progress" class="tabcontent">

{% if books|length == 0 %}
<div class="container">
     <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="POST">
                <p class="lead">Your library is empty :(</p>
                <p class="lead">You can find some books by clicking on "Find books" button in menu or by clicking button
                right there!</p>
                <hr class="my-4">

            <a class="btn btn-primary" href="{% url 'books:find' %}" role="button">Find books</a> <a href='../'>Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% else %}
{% for book_position in users_book_positions %}
    {% for book in books %}
        {% ifequal book.title|stringformat:"s" book_position.book|stringformat:"s" %}
            {% ifequal book_position.status|stringformat:"s" "In progress" %}
                <div class="card mb-2" style="margin-left:10%; margin-right:10%;" id="div{{ book.id }}">
                    <div class="card-body p-3">
                        <div class="row">

                            <div class="col-2">
                                <img src="{{ book.image }}" class="center">
                            </div>

                             <div class="col-10">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <p><strong class="text-dark">{{ book.title }}</strong></p>
                                            <small class="text-muted">{{ book.author }}</small>
                                            <br>
                                        </div>
                                        <div class="col-6" style="text-align:right;">
                                            <small class="text-muted">ID: {{ book.id }}</small>
                                        </div>
                                    </div>

                                <hr class="my-4">
                                {% if book.description == None %}
                                There is no description :(
                                {% else %}
                                {{ book.description }}
                                {% endif %}
                                <p>
                                <br>

                                 <form method="post" action="{% url 'users:info_book' %}">
                                    {%csrf_token%}
                                    <div type="text/css" class = "container"></div>
                                    <a class="addbutton btn btn-danger btn-lg" id="like{{ book.id }}" href="#" data-catid="{{ book.id }}">Delete</a>
                                    <input type="hidden"  name="id" value="{{ book.id }}">
                                    <button class="infobutton btn btn-secondary btn-lg" type="submit">Update</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            {% endifequal %}
        {% endifequal %}
    {% endfor %}
{% endfor %}
{% endif %}
</div>


<!--DONE TAB DIV-->
<div id="Done" class="tabcontent">

{% if books|length == 0 %}
<div class="container">
     <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="POST">
                <p class="lead">Your library is empty :(</p>
                <p class="lead">You can find some books by clicking on "Find books" button in menu or by clicking button
                right there!</p>
                <hr class="my-4">

            <a class="btn btn-primary" href="{% url 'books:find' %}" role="button">Find books</a> <a href='../'>Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% else %}
{% for book_position in users_book_positions %}
    {% for book in books %}
        {% ifequal book.title|stringformat:"s" book_position.book|stringformat:"s" %}
            {% ifequal book_position.status|stringformat:"s" "Done" %}
                <div class="card mb-2" style="margin-left:10%; margin-right:10%;" id="div{{ book.id }}">
                    <div class="card-body p-3">
                        <div class="row">

                            <div class="col-2">
                                <img src="{{ book.image }}" class="center">
                            </div>

                             <div class="col-10">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <p><strong class="text-dark">{{ book.title }}</strong></p>
                                            <small class="text-muted">{{ book.author }}</small>
                                            <br>
                                        </div>
                                        <div class="col-6" style="text-align:right;">
                                            <small class="text-muted">ID: {{ book.id }}</small>
                                        </div>
                                    </div>

                                <hr class="my-4">
                                {% if book.description == None %}
                                There is no description :(
                                {% else %}
                                {{ book.description }}
                                {% endif %}
                                <p>
                                <br>

                                 <form method="post" action="{% url 'users:info_book' %}">
                                    {%csrf_token%}
                                    <div type="text/css" class = "container"></div>
                                    <a class="addbutton btn btn-danger btn-lg" id="like{{ book.id }}" href="#" data-catid="{{ book.id }}">Delete</a>
                                    <input type="hidden"  name="id" value="{{ book.id }}">
                                    <button class="infobutton btn btn-secondary btn-lg" type="submit">Update</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            {% endifequal %}
        {% endifequal %}
    {% endfor %}
{% endfor %}
{% endif %}
</div>

<script src="/static/js/library_script.js"></script>
<script src="/static/js/back_to_top_script.js"></script>

{% endblock %}